
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    width: 100%;
}

.navbar {
    background-color: #212f45;
    width: 100%;
}

.navbar a {
    color: azure; 
}

.btn {
    color: #f0ffff;
    background-color: #4d194d;
    border-color: #2F4858;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
    
}

.hero-img {
    background-image: url(../images/hero-img.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 75vh;
    position: relative;
}

.hero-text {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 10%;
    margin-right: 20px;
    text-align: center;
}

.btn-sq {
    position: absolute;
    top: 60%;
    text-align: center;

}

.box {
    background-color: rgba(33, 47, 69, 0.5);
    color: #fff;
    width: 80%;
}

.middle {
    background-color: #006466;
    padding: 30px;
}

.footer {
    background-color: #212f45;
    color: #c2c1b9;
}

.but {
    position: absolute;
    top: 60%;
    text-align: center;
}

.button {
    background-color: rgba(33, 47, 69, 0.5);
    padding: 25px;
    margin-left: 10px;
    margin-top: 10px;
    color: azure;
}



.social-network {
    text-align: center;
}

.social-network li{
    display: inline;
}

.social-network i {
    font-size: x-large;
    padding-right: 15px;
    padding-top: 20px;
    color: #c2c1b9;
}

.media-col p, .footer-email p {
    text-align: center;
}